<div class="card">
	<div class="card-body card-body-mobile" id="grid-lista">
		<div style="height: 38px; float: left;">
			<button class="btn btn-outline-primary btn-lista-formulario ladda-button" id="adicionar" data-spinner-color="blue" data-style="zoom-in">
				<i class="fas fa-plus-circle"></i>
				<span class="hide-mobile">
					Adicionar</span>
			</button>
			<button class="btn btn-outline-info disable-element btn-lista-formulario ladda-button" id="editar" data-spinner-color="#17a2b8" data-style="zoom-in" disabled>
				<i class="fas fa-edit"></i>
				<span class="hide-mobile">
					Editar</span>
			</button>
			<button class="btn btn-outline-danger disable-element btn-lista-formulario ladda-button" id="deletar" data-spinner-color="red" data-style="zoom-in" disabled>
				<i class="fas fa-trash-alt"></i>
				<span class="hide-mobile">
					Deletar</span>
			</button>
		</div>

		<input id="config-form" type="hidden" data-url-form="{{url_form}}" data-url-api="{{url_api}}" data-chave-id="{{chave_id}}" data-id="{{id}}">
		<table id="lista-bootstrap-table" class="bootstrap-table"></table>
	</div>
</div>
